<!DOCTYPE html>
<html>
<head>
    <title>dapp</title>
    <style type="text/css">
    body{
        text-align: center;
        font-family: Sathu;

    }

    #landing_header{
        width:100%;
        height: 100px;
        box-shadow: 0px 10px 10px rgba(0,0,0,.2)
    }
    #landing_header div{
        display: inline;
    }
    #landing_header img{
        height: 100px;
        float: left;
    }
    #landing_button{
        float:right;
        /*line-height: 100px;*/
        margin-right: 40px;
        margin-top: 10px;
        width: 175px;
        height: 36px;
        background-color: #00BBEE;
        font-size: 18pt;
        border-radius: 5px;
    }
    #landing_button a{
        color: #fff;
    }
    #landing_motto{
        color: #2B547E;
        margin-left: -100px;
        font-size: 24pt;
        line-height: 80px;
        padding-left: 85px;
    }

    #screenShot{
        width: 90%;
        box-shadow: 0px 2px 0px rgba(0,0,0,.2);

    }

    #empower{
        width:90%;
        /*height:150px;*/
        /*color: #fff;*/
/*        background-color: rgba(0,0,0,.2);
*/        line-height: 150px;
        font-size: 60pt;
        box-shadow: 0px 2px 0px rgba(0,0,0,.2);
        color: #0099DD;
    }

    #empowerHeader{
        color: #0099DD;
        font-size: 20pt;
    }

    #nomore{
        margin-top: 20px;
        width:90%;
        font-size: 48pt;
        box-shadow: 0px 2px 0px rgba(0,0,0,.2);
    }

    #nomore #left{
        padding: 40px;
        /*height: 300px;*/
        width: 100%;
        text-align: left;
        line-height: 25px;
        font-size: 14pt;
    }
    #nomore #right{
        padding: 40px;
        /*height: 300px;*/
        text-align: left;
        width: 100%;
/*        left: 50%;    
*/        line-height: 25px;
        font-size: 14pt;
    }

    #testimonial{
        margin-top: 20px;
        width:90%;
        font-size: 48pt;
    
    }
    #testimonial #left{
        padding: 40px;
        width: 100%;
        text-align: center;
        font-size: 10pt;
    }
    #testimonial #right{
        padding: 40px;
        width: 100%;
        left: 50%;
        text-align: center;
/*        line-height: 15px;
*/        font-size: 10pt;
    }

    #testimonial #center{
        padding: 40px;
        width: 100%;
        text-align: center;
        font-size: 10pt;
        box-shadow: 0px 2px 0px rgba(0,0,0,.2);


    }

    #join{
        margin-top: 20px;
        width:90%;
        font-size: 48pt;
        box-shadow: 0px 2px 0px rgba(0,0,0,.2);
        height: 200px;
        color: #0099DD;
    }

    #landing_button2{
        float:center;
        /*line-height: 100px;*/
        /*margin-right: 40px;*/
        margin-top: 25px;
        margin-bottom: 25px;
        width: 175px;
        height: 36px;
        background-color: #00BBEE;
        font-size: 18pt;
        border-radius: 5px;
    }
    #landing_button2 a{
        color: #fff;
    }
    #theteam{
        text-align: center;
    }
    #contactus {
        /*color: #fff;*/
        text-align: center;
        padding-top: 30px;
        height: 100px;
        font-size: 48pt;
        color: #0099DD;
    }

    .headshot {
        overflow: hidden;
        background-size: cover;
        border-radius: 100px;
        height: 200px; 
    }
    </style>
</head>

<body>
    <div id="landing_header">
        <div id="landing_logo"><img src="/logo.png"></div>
        <div id="landing_motto">Building community in your company with ease</div>
        <div id="landing_button"><a href="/users/new">Login/SignUp</a></div>
    </div>

    <center>

    <div id="screenShot">
    <img src="/ss.png" width="800px">
    </div>

    <div id="empower">
    EMPOWER + ENGAGE
    </div>
    
    <table width="100%" border=0  id="nomore">
    <tr valign="top"><td width="40%">
    <div id="left"><img src="/dude.png" width="175px" align="left">
        <p id="empowerHeader">No More Hiding</p>
        Go ahead give your mind a rest, browse your feeds and feel empowered to do so.  Employees can browse their communities in a way that strengthens company culture. No more shame in a 5-minute break to refresh your mind.
    </div>
    </td><td width="50%">
    <div id="right"><img src="/bubble.png" width="250px" align="right">
        <p id="empowerHeader">Community Engagement</p>
        Employees share and cross-promote curated content from their existing communities such as Twitter and The New York Times.  Be in the know about what your company is reading.  Spark cross team conversation.
    </div>
    </td></tr>
    </table>
    
    <table width="100%" border=0 id="testimonial">
    <tr valign="top"><td width="50%">
    <div id="left"><img src="/forbes_logo.png" width="200px" align="center"><br><br>
        "As today’s work environment has evolved from chatter around the water cooler to a series of “Likes” and “Shares” and  “Tweets,” entrepreneurs recognize the influence of social media in the workplace and are looking for ways to maximize the benefits of social media in their own business plans."
    </div>
    </td><td width="50%">
    <div id="right"><img src="/inc_logo.jpeg" width="125px" align="center"><br><br>
        "Instead of fighting employees' desire to be on Facebook and Twitter, some businesses are finding that embracing it is a better option. Loyal employees can be the best advocates for the brand they represent, monitoring the Web for mentions of a business and replying to those comments. These people could also be tasked with monitoring what other businesses are doing online and even keeping your social media presence up to date."
    </div>
    </td></tr>
    </table>

    <table width="100%" border=0 id="testimonial">    
        <tr valign="top"><td width="100%">
        <div id="center"><img src="/kinicki_angelo-1_ret.png" width="150px" align="center"><br><br>
            <b>Angelo Kinicki, professor of management at the<br> W.P.Carey School of Business at Arizona State University</b><br>“Employees are going to take breaks,” says Kinicki.<br> “To say they’re not is silly. I think employers have to realize that<br> different people have different ways to unplug, and it’s wise to support them.”
        </div>
        </td></tr>
    </table>


    <div id="join">
    Get your company on dapp<br>
    <div id="landing_button2"><a href="/users/new">Login/SignUp</a></div><br>
    </div>

    <br><br>

    <table width="80%" border=0 id="theteam">
    <tr valign="top">
        <td width="100%" id="contactus">CONTACT US!</td>
    </tr>
    </table>
    <table width="80%" border=0 id="theteam">
    <tr valign="top">
        <td width="50%"><img src="/megan.jpg" class="headshot" width="200px" align="center"><br><br>Megan Wainer - Product Manager<br>megan.wainer@gmail.com </td>
        <td width="50%"><img src="/carolyn.jpg" class="headshot" width="200px" align="center"><br><br>Carolyn Jao - UX Designer<br>carolynjao@gmail.com</td>
    </tr>
    </table><br><br>
    <table width="80%" border=0 id="theteam">
    <tr valign="top">
        <td width="33%"><img src="/mina.jpg" class="headshot" width="200px" align="center"><br><br>Mina Talai - Web Developer<br>mina.talai@gmail.com</td>
        <td width="33%"><img src="/will.jpg" class="headshot" width="200px" align="center"><br><br>Will Wilcox - Web Developer<br>wgmwilcox@gmail.com</td>
        <td width="33%"><img src="/jessie.jpg" class="headshot" width="200px" align="center"><br><br>Jessie Samuelson - Web Developer<br>jessie.samuelson@gmail.com</td>
    </tr>
    </table>

</center>
<br><br><br>
</body>

</html>