<section id="tweets" class="col-md-4" style="border:5px solid black">
  <ul>
  	<% if @tweets %>
	    <% @tweets.each do |tweet| %>
	    	
	      <li><%= link_to tweet["text"], "https://www.twitter.com/#{tweet['user']['screen_name']}" %></li>
	     <% end %>
	  <% end %>
  </ul>
</section>